@page "/appointment"

<PageTitle>Réunions Apside</PageTitle>

<h1>Réunions</h1>

<div class="m-5 d-flex justify-content-between">
<h2>Liste des réunions</h2>
    <a class="btn btn-primary" asp-controller="Appointment" asp-action="Add"><i class="bi bi-plus-square"></i> Ajouter une réunion</a>
</div>

<AppointmentList />
