@page "/room"

<PageTitle>Salles Apside</PageTitle>

<h1>Salles</h1>

<div class="m-5 d-flex justify-content-between">
<h2>Liste des salles</h2>
    <a class="btn btn-primary" asp-controller="Room" asp-action="Add"><i class="bi bi-plus-square"></i> Ajouter une salle</a>
</div>

<RoomList />
