

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date réunions</th>
      <th scope="col">Salle</th>
      <th scope="col">Participants</th>
      <th scope="col">Sujet réunion</th>
    </tr>
  </thead>
  <tbody>c
      
      @foreach(var appointments in Appointments)
        {
         <tr>
              <th scope="row">@appointments.IdAppointment</th>
              <td>@appointments.DateHour</td>
              <td>Nom de la salle</td>
              <td>5/15</td>
              <td>Sujet / Evenement de réunion</td>
        </tr>
        }
       
  </tbody>
</table>

@code { 
    private static List<Appointment> Appointments = new List<Appointment>
    {
        new Appointment
        {
            IdAppointment = 1,
            DateHour = DateTime.Parse("07/06/2022 16:34")
        },
        new Appointment
        {
            IdAppointment = 2,
            DateHour = DateTime.Parse("26/06/2022 11:24")
        },
        new Appointment
        {
            IdAppointment = 3,
            DateHour = DateTime.Parse("30/06/2022 09:29")
        }
    }; 
}
