@inject HttpClient Http


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
      
      @foreach(var employees in Employees)
        {
         <tr>
              <th scope="row">@employees.IdEmployee</th>
              <td>@employees.Lastname</td>
              <td>@employees.Firstname</td>
              <td>@employees.Mail</td>
        </tr>
        }
       
  </tbody>
</table>

@code { 
    private static List<Employee> Employees = new List<Employee>();

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<List<Employee>>("api/Employee");
        if (result != null)
            Employees = result;
    }
    
}
