
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom de salle</th>
      <th scope="col">Max participants</th>
    </tr>
  </thead>
  <tbody>
      
      @foreach(var rooms in Rooms)
        {
         <tr>
              <th scope="row">@rooms.IdRoom</th>
              <td>@rooms.Name</td>
              <td>@rooms.MaxParticipant</td>
        </tr>
        }
       
  </tbody>
</table>

@code {
    
    private static List<Room> Rooms = new List<Room>
    {
        new Room
        {
            IdRoom = 1,
            Name = "Salle rouge",
            MaxParticipant = 15
        },
        new Room
        {
            IdRoom = 2,
            Name = "Salle verte",
            MaxParticipant = 6
        },
        new Room
        {
            IdRoom = 3,
            Name = "Salle noir",
            MaxParticipant = 9
        }
    }; 
}
