@inject ITelerikStringLocalizer Localizer
<div id="footer">
    <div class="aboveCopyright">
		<div class="logoimg"><img src="img/logo-footer.png" alt="Logo Footer"></div>
		<div class="texte"> @Localizer[nameof(TelerikMessages.Bookroomfooter)]</div>
	</div>
	<ul class="copyright">
		<li>&copy; 2022 MeetingRoomBooking - @Localizer[nameof(TelerikMessages.Legal)]</li>
	</ul>
</div>

