
<div class="logo">
    <a href="/" title="Home"><img src="img/logo.png" alt="Logo"></a>
</div>

<div class="menunav">
    <nav class="flex-nav">
        <div class="nav-item language px-2">
            <CultureChooser />
        </div>
    </nav>
</div>


